LOCAL="1"

#OPEN AI CONFIG
OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_MODEL_NAME="gpt-4o-mini"


#LOCAL LLM CONFIG
# == APP PARA == #
DOCUMENT_FOLDER = "data"
DOCUMENT_GUIDE = "Data Classification Guide.docx"

# == OLLAMA == #
EMBEDDING_MODEL = "embeddinggemma"
LLM_MODEL = "llama3.2"
MODEL_PROVIDER = "ollama"

# == CHROMA COLLECTION NAME == #
DATABASE_LOCATION = "chroma_db"
COLLECTION_NAME = "classification_guide"
