LOCAL="1"

#OPEN AI CONFIG
OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_MODEL_NAME="gpt-4o-mini"


#LOCAL LLM CONFIG
# == APP PARA == #
DOCUMENT_FOLDER = "data"
DOCUMENT_GUIDE = "Data Classification Guide.docx"

# == OLLAMA == #
EMBEDDING_MODEL = "embeddinggemma"
# EMBEDDING_MODEL = "nomic-embed-text"
# LLM_MODEL = "llama3.2"
# LLM_MODEL = "gpt-oss"
LLM_MODEL = "deepseek-r1"
MODEL_PROVIDER = "ollama"

# == CHROMA COLLECTION NAME == #
DATABASE_LOCATION = "./chroma_db"
COLLECTION_NAME = "gemma_classification_guide"
